<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: BlankLandscape (2015-09-16 11:13)</string>
	<string>M6.0-3507-1</string>
	<string>M6.2-4582-1</string>
	<string>M6.3.1-5249-2</string>
	<string>M7.3-5989-2</string>
</array>
</plist>
